.home {
	display: grid;
	grid-template-columns: 1fr 300px;
	gap: 8px;
}

.left {
	display: flex;
	flex-direction: column;
}

.tables {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
}

.card-content {
	display: flex;
	justify-content: space-between;
	align-items: right;
  }
  
  .dashboard-title {
	margin: 0;
  }
  
  .button-group {
	display: flex;
	gap: 10px; /* Adjust the value as needed for the spacing */
  }
  